
 .cart{
    cursor: pointer;
    position: relative;
    border: solid rgb(177, 114, 177);
    border-radius: .5rem;
}
.cart box-icon{
    width: 2.5rem;
    height: 3rem;
}
.cart span{
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    padding: 0rem;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: rgb(177, 114, 177);
}



  