.item{
    
    padding: 2rem  2rem;
    margin: 0 auto;
    margin-top: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;    
}   
.card_body{
    border: solid;
    width: 12rem;
    height: 22rem;
    padding-top: 1rem;
    box-shadow: 1px 10px 10px 2px pink;
    border: 6px solid transparent;
    border-radius: .5rem;
    color: rgb(71, 33, 107);
}
.card_title{
    font-size: 1.3rem;
    max-height: 2rem;
}
.card_text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3rem;
    font-weight: 700;
}
.card_body link{
    text-decoration: none;
    font-weight: 500;
    color: black;
    background-color:plum;
    padding: .5rem;
    border-radius:.5rem;
}
.card_img{
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    border: solid pink;
}