.nav_bar{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
    box-sizing: border-box;
    box-shadow: 0 .5rem .8rem  purple;
    min-height: 150px;
    width: 98%;
    max-width: 100%;
    margin-left: 1rem;
}
.logo_img{
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    border: 4px double gray;
    
}
.logo_img:hover{
    transform: scale(1.2);
	transition: transform 1s;
}

ul a{
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    padding: .5rem;
    background-color: rgb(177, 114, 177);
    border-radius: 1rem;
}
a:hover{
    color: lightgrey;
    
}
li{
    list-style: none;
}
li:hover{
    transform: scale(1.2);
	transition: transform 1s;
}
.nav_bar ul{
    display: flex;
    padding: 0;
    margin: 0;
}
.nav_bar ul li{
    padding: 0 1rem;
}
.nav_bar ul li a{
    font-weight: 700;
}
