.item_count {
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20.45rem;
    margin-bottom: .5rem;
    border: solid plum;
  }
.button_agregar {
    width: 8rem;
    height: 1.8rem;
    background-color: rgb(155, 65, 153);
    border: none;
    border-radius: .2rem;
    outline: none;
    cursor: pointer;
    color: white;
    margin-bottom: .5rem;
}

.item_count p{
    width: 3rem;
    text-align: center;
    
    border: none;
    padding: 1rem;
  
}

.item_count .onClick{
  background-color: rgb(155, 65, 153);
  border: none;
  width: 1.2rem;
  height: 1.2rem;
}

